.button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}